@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	position: relative;
	z-index: 999;
}
a:hover{
	text-decoration: none;
}


.doubleLoader.theme-fluoGreen .doubleLoaderTop, .doubleLoader.theme-fluoGreen .doubleLoaderBottom {
    background-color: #b5de0fe0;
}
.doubleLoader.theme-fluoGreen .doubleLoaderProgBar span {
    background-color: #ffc800;
}


.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    font-weight: 600;
}

.navbar {
    margin-top: 30px;
}

.carousel-indicators li {
    height: 10px;
	width: 15px;
    border-radius: 13px;
    background-color: #0e0717;
    border: 0 !important;
    padding: 0 !important;
}

.carousel-indicators .active {
    opacity: 1;
    height: 10px;
    width: 30px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa136+0,ffce1a+100 */
	background: rgb(255,161,54); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,161,54,1) 0%, rgba(255,206,26,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,161,54,1) 0%,rgba(255,206,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,161,54,1) 0%,rgba(255,206,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa136', endColorstr='#ffce1a',GradientType=1 ); /* IE6-9 */


}

#particles-js{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.carousel-item{}
.carousel-item h1{
	font-size: 35px;
	font-weight: 700;
}
.carousel-item p{
	font-size: 20px;
	color: #333;
	opacity: 0.7;
}
.btn-dark{
	background: #000;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.featured-product{
	padding: 50px 0;
}
.featured-product ul{
    font-size: 25px;
    font-weight: 700;
    padding: 40px 0px;
}
.featured-product ul li{}
.featured-product ul li h1{
	font-size: 20px;
	font-weight: 600;
}
.featured-product ul li a{
	color: rgb(255 160 50);
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
}


.product{
    box-shadow: 0 20px 50px #0000000d;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.product a{}
.product a img{}
.product a h1{
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-top: 20px;
}
.product h2
.product .btn{}


.categories-section{
    padding: 30px 0px;
}
.categories-section h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}
.categories-section span{
    height: 10px;
    width: 200px;
    background-color: red;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 60px;
    background-color: rgb(255 160 50);
}
.categories-section a{
    display: block;
    text-align: center;
    box-shadow: 0 0 30px #0000000d;
    border-radius: 10px;
    padding: 40px 0;
    margin-bottom: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.categories-section a h3{
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.categories-section a img{}